
a {
    text-decoration: none;
}
/*섹션부분*/
.cmjymain2 {
    width: 100%;
    height: 800px;
    background-color: white;
}
/*제목*/
.cmjypage2 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;   
}
p {
    margin: 0;
}
.cmjytable_name2 {
    font-size: 50px;
    font-weight: bold;
}
/*판매처검색*/
.cmjyselect {
    margin-left: 150px;
}

.cmjyselect select {
    width: 200px;
    height: 30px;
    font-size: 15px;    
}
.cmjyselect .cmjyselectbtn {
    width: 90px;
    height: 30px;  
    font-size: 15px;
}

.cmjysub_news {
    margin-top: 10px;
    margin-left: 150px;
    width: 1603px;
    color: #666;
    font-size: 12px;    
}

.cmjysub_news,
.cmjysub_news th,
.cmjysum_news td,
.cmjysum_news tr {
    border: 0;
   
}

.cmjysub_news a {
    color: #383838;
    text-decoration: none;
}

.cmjysub_news caption {
    display: none;
}

.cmjysub_news th {
    padding: 5px 0 6px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #b2b2b2;
    background-color: #c3c4c4;
    color: #333;
    font-size: 20px;
    font-weight: bold;    
    vertical-align: top;
     text-align: center;
}

.cmjysub_news td {       
    text-align: center;
    line-height: 18px;
    font-size: 20px;
}

.cmjysub_news .date,
.cmjysub_news .hit {
    padding: 0;
    font-size: 12px;
    line-height: normal;
}

.cmjysub_news .cmtitle {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

.cmjysub_news .title .pic,
.cmjysub_news .title .new {
    margin: 0 0 2px;
    vertical-align: middle;
}
.cmjyupdatebtn {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.cmjypaging {
    margin-top: 10px;
    margin-left: 600px;    
}

.cmjypaging a {
/*
display: inline-block 인라인 요소의 특징과 블록 요소의 특징을 모두 갖는다
크기를 가질 수 있으며 텍스트 정렬도 적용받는다
*/
    display: inline-block;    
    text-decoration: none;
    padding: 5px 8px;    
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;    
}

/* 현재 페이징에 select 클래스를 적용한다*/

.cmjypaging a.cmjychk {	
    color: #ece4d7;
    background-color: #262522;
    font-size: 12px;
    font-weight: bold;
}
.cmjypaging a:hover {
    background-color: #656565;
    color: #f8edde;
}


/*th+td너비*/
.cmjyno {
    width: 200px;    
}
.cmjystore {
    width: 250px;    
}
.cmjysname {
    width: 350px;    
}
.cmjyname{
    width: 450px;    
}
.cmjyemail {
    width: 200px;    
}
.cmjytitle1 {    
    height: 40px;    
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-top: 1px solid;    
}



/**/
/*하단버튼 틀 (버튼라인)*/
#cmjybtntle {    
    width: 1603px;
    height: 47px;
    float: left;    
    line-height: 50px; 
    margin-left: 150px;
    border-top: 1px solid;
}

/*페이지이동버튼 틀*/
.cmjypagebtns {    
    height: 48px; 
    float: left;
    margin-left: 600px;
}

/* 하단 페이지이동 */
.cmjypagebtns a {	
	text-align: center;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
}
.cmjypagebtns a.jychk {
	 color: #ece4d7;
    background-color: #262522;
}
.cmjypagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
.cmjystockupdatebtn {
	margin-left: 850px;
	height: 60px;
	width: 120px;
	font-weight: bold;
	font-size: 25px;
}