body{ 
    width:1903px;
    max-width:1903px;
    min-width: 300px;
    margin : 0px;
    position: relative;
    background-color: #f5f5f5;
}

header{
    width: 100%;
    height: 98px;    
    background-color: black;
}

.put{
    background-color: black;
    float : right;
    margin : 5px 2% 0px 0;
}
.put2{
    background-color: black;
    float : right;
    margin : 5px 2% 0px 0;
    width: 5%;
}
.box50 {
    width:calc(100% - 50%);
    height: 70%;
    float:left;
    margin : 0px 0px 0px 25%;
    padding-top : 25px;
    display:inline-block;
    
    
}

.box50 img{
    float:left;
    margin-right : 5%;
}


.box50 a {
    text-decoration: none;
    float:left;
    margin : 25px 15px;
    color :white;
    
}

.in_box30{
    width: 25%;
    float:left;
    margin-right : 5%;
}
.in_box30 img{
    width :100%;
    margin-right:10%;
}
.in_box70{
    width: 100%;
}

footer {
    width : 1903px;
    height: 720px;
    background-color : black;
    float: left;
}
.ft_box{
    width: 100%;
    height: 677px;  
    background-color : rgb(20,20,20);
    color : rgb(170,170,156);
}

.ft_box_in{
    width: 50%;
    height: 627px;
    margin : 0% 25%;
    padding : 25px 0px;
    background-color : rgb(20,20,20);
}


.ft_box1{
    width: 100%;
    height: 43px;
    background-color : black;
}


.ft_box1_in{
    width:50%;
    height: 50%;
    margin : 0% 25%;
    color:white;
    transform: translateY(calc(50% + 5.5px));
    text-align: center;
    font-size: 11px;
}

.ft_box_in a{
            color : rgb(170,170,156);
    font-size: 11px;
}




section{
    width: 1903px;
    height: calc(100% - 818px);
    background-color :#f5f5f5;
}


a {
    text-decoration: none;
}
.white { 
color:white;
}

.cent{
    width: 50%;
    padding : 30px 0px;
    margin : 0% 25%;

}

.col {
    width : 159px;
    height: 370px;
    float:left;
    margin-left: 20px;
    margin-top : 20px;
}


.m_head{
    margin: 10px 0%;
    width: 100%;
    
}


.news {
    width: 173px;
    height: 218px;
    float:left;
    margin-left: 20px;
    margin-top : 20px;
}











/*------------------------------------------------------------------------*/
#tle {
    width: 1903px;
    height: 900px;   
}
#tle .title {
    font-size: 50px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#midtle {
    width: 1403px;
    height: 700px;
    background-color: #ced0d0;
    margin-left: 250px;
}
/*옆에 사용자 페이지*/
#smallmypage {
    height: 700px;
    width: 200px;
    background-color: #d1d1d1;
    float: left;    
    border-right: 1px solid;
}

/*사용자 +사진 + 이름 + 아이디*/
#smallmypage .my {
    height: 200px;
    width: 200px;    
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid;
}
/*기본 프로필사진*/
#smallmypage .profile{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
}
/*다른페이지이동*/
#smallmypage .otherpage {
    height: 449px;
    width: 200px;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    font-weight: bolder; 
    color: black;
}
#smallmypage .pagemove {
    color: black;
}
#smallmypage .pagemove:hover {
    color: #b47704;
}

p{
    margin: 0;
}


#midtle .smalltle {
    width: 1000px;
    height: 600px; 
    float: left;
    padding-top: 50px;
    padding-left: 70px;
}
#midtle .text {
    width: 200px;
    height: 600px;
    float: left;
}
#midtle .input {
    width: 550px;
    height: 600px;
    float: left;    
}
#midtle .upbtn{
    float: left;
    width: 150px;    
}

#midtle .upjul1 {
    height: 55px;
}
#midtle .upjul2 {
    height: 350px;
}
#midtle .check {
    height: 40px;
    width: 20px;
    float: left;
}
#midtle .uptext {
    font-size: 30px;
    float: left;
}
#midtle .upjul1 .ground {
    float: left;
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
}
#midtle .uptext1 {
    height: 35px;
    width: 400px;
    font-size: 15px;
}
#midtle .uptext2 {
    height: 300px;
    width: 400px;
    font-size: 15px;
}
#midtle .imgfile {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}


#midtle .upsucess {    
    height: 60px;
    width: 120px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 550px;
}

/*---판매점틀---------------------------------------------------------------*/































.store {
    background-color: #f5f5f5;
    width: 1203px;
    height: 150px;
    margin-left: 300px;
    background-color: red;
}
.store-l {
    background-color: #f5f5f5;
    width: 300px;
    height: 150px;
    float: left;
}

.store-r {
    background-color: #f5f5f5;
    width: 903px;
    height: 150px;
    float: left;
}

.cen {
    margin-left: 30px;
    margin-top: 40px;
}

.p1 {
    margin-left: 180px;
    line-height: 150px;
}

#cb1 {
    margin: 10px;
    width: 15px;
    height: 18px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}

/*---시리즈틀---------------------------------------------------------------*/

.product {
    background-color: #f5f5f5;
    width: 1203px;
    height: 100px;
    margin-left: 300px;
}

.product-l {
    background-color: #f5f5f5;
    width: 300px;
    height: 100px;
    float: left;
}

.product-r {
    background-color: #f5f5f5;
    width: 903px;
    height: 100px;
    float: left;
}

.p2 {
    margin-left: 180px;
    line-height: 100px;
}

.inputbox2 {
    margin-left: 30px;
    margin-top: 35px;
    width: 500px;
    height: 30px;
}

/*---제품번호틀---------------------------------------------------------------*/

.code {
    background-color: #f5f5f5;
    width: 1203px;
    height: 100px;
    margin-left: 300px;
}
.code-l {
    background-color: #f5f5f5;
    width: 300px;
    height: 100px;
    float: left;
}

.code-r {
    background-color: #f5f5f5;
    width: 903px;
    height: 100px;
    float: left;
}

.p3 {
    margin-left: 180px;
    line-height: 100px;
}

.inputbox3 {
    margin-left: 30px;
    margin-top: 35px;
    width: 500px;
    height: 30px;
}

/*---간략소개틀---------------------------------------------------------------*/

.annouce {
    background-color: #f5f5f5;
    width: 1203px;
    height: 300px;
    margin-left: 300px;
}

.annouce-l {
    background-color: #f5f5f5;
    width: 300px;
    height: 300px;
    float: left;
}

.annouce-r {
    background-color: #f5f5f5;
    width: 903px;
    height: 300px;
    float: left;
}

.p4 {
    margin-left: 180px;
    line-height: 100px;
}

.inputbox4 {
    margin-left: 30px;
    margin-top: 20px;
    width: 500px;
    height: 250px;
}

/*---이미지넣기틀---------------------------------------------------------------*/

.pullimg {
    background-color: #f5f5f5;
    width: 1203px;
    height: 150px;
    float: left;
    margin-left: 300px;
}

.pullimg-l {
    background-color:#f5f5f5;
    width: 300px;
    height: 150px;
    float: left;
}

.pullimg-r {
    background-color: #f5f5f5;
    width: 903px;
    height: 150px;
    float: left;
}

.p5 {
    margin-left: 170px;
    line-height: 150px;
}

/*이미지파일명텍스트창-----------------------------------------------*/

.inputbox5 {
    margin-left: 30px;
    width: 365px;
    height: 30px;
    margin-top: 60px;
}

/*이미지추가버튼-------------------------------------------------*/

.myButton {
    margin-top: 0px;
    margin-left: 0px;
    height: 42px;
    width: 130px;
    font: inherit; 
    padding: 2px 4px; 
    background-color: #eaeaea; 
    border-width: 2px; border-style: solid; 
    border-color: #f4f4f4 #a3a3a3 #a3a3a3 #f4f4f4; 

    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px;
} 
.myButton:hover {  background-color: #d2e3f4;  }
.myButton:active {  border-color: #a3a3a3 #efefef #efefef #A3A3A3; } 

.myButton:focus { 
    outline: 2px solid #c1d6ef;
    outline-offset: 1px;
} 

.myButton1 {
    margin-top: 0px;
    margin-left: 100px;
    height: 42px;
    width: 180px;
    font: inherit; 
    padding: 2px 4px; 
    background-color: #eaeaea; 
    border-width: 2px; border-style: solid; 
    border-color: #f4f4f4 #a3a3a3 #a3a3a3 #f4f4f4; 

    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px;
} 
.myButton1:hover {  background-color: #d2e3f4;  }
.myButton1:active {  border-color: #a3a3a3 #efefef #efefef #A3A3A3; } 

.myButton1:focus { 
    outline: 2px solid #c1d6ef;
    outline-offset: 1px;
} 









