
a {
    text-decoration: none;
}
/*ì„¹ì…˜ë¶€ë¶„*/
.cmjymain2 {
    width: 100%;
    height: 800px;
    background-color: white;
}
/*ì œëª©*/
.cmjypage2 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;   
}
p {
    margin: 0;
}
.cmjytable_name2 {
    font-size: 50px;
    font-weight: bold;
}
/*íŒë§¤ì²˜ê²€ìƒ‰*/
.cmjyselect {
    margin-left: 150px;
}

.cmjyselect select {
    width: 200px;
    height: 30px;
    font-size: 15px;    
}
.cmjyselect .cmjyselectbtn {
    width: 80px;
    height: 32px;  
    font-size: 17px;
    margin-left:5px;
    font-weight: bold;
    text-align:center;
	border-radius : 4px;
}

.cmjysub_news {
    margin-top: 10px;
    margin-left: 150px;
    width: 1603px;
    color: #666;
    font-size: 12px;    
}

.cmjysub_news,
.cmjysub_news th,
.cmjysum_news td,
.cmjysum_news tr {
    border: 0;
   
}

.cmjysub_news a {
    color: #383838;
    text-decoration: none;
}

.cmjysub_news caption {
    display: none;
}

.cmjysub_news th {
    padding: 5px 0 6px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #b2b2b2;
    background-color: #c3c4c4;
    color: #333;
    font-size: 20px;
    font-weight: bold;    
    vertical-align: top;
     text-align: center;
}

.cmjysub_news td {       
    text-align: center;
    line-height: 18px;
    font-size: 20px;
}

.cmjysub_news .date,
.cmjysub_news .hit {
    padding: 0;
    font-size: 12px;
    line-height: normal;
}

.cmjysub_news .cmtitle {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

.cmjysub_news .title .pic,
.cmjysub_news .title .new {
    margin: 0 0 2px;
    vertical-align: middle;
}
.cmjyupdatebtn {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.cmjypaging {
    margin-top: 10px;
    margin-left: 600px;    
}

.cmjypaging a {
/*
display: inline-block ì¸ë¼ì¸ ìš”ì†Œì˜ íŠ¹ì§•ê³¼ ë¸”ë¡ ìš”ì†Œì˜ íŠ¹ì§•ì„ ëª¨ë‘ ê°–ëŠ”ë‹¤
í¬ê¸°ë¥¼ ê°€ì§ˆ ìˆ˜ ìžˆìœ¼ë©° í…ìŠ¤íŠ¸ ì •ë ¬ë„ ì ìš©ë°›ëŠ”ë‹¤
*/
    display: inline-block;    
    text-decoration: none;
    padding: 5px 8px;    
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;    
}

/* í˜„ìž¬ íŽ˜ì´ì§•ì— select í´ëž˜ìŠ¤ë¥¼ ì ìš©í•œë‹¤*/

.cmjypaging a.cmjychk {	
    color: #ece4d7;
    background-color: #262522;
    font-size: 12px;
    font-weight: bold;
}
.cmjypaging a:hover {
    background-color: #656565;
    color: #f8edde;
}


/*th+tdë„ˆë¹„*/
.cmjyno {
    width: 200px;    
}
.cmjystore {
    width: 250px;    
}
.cmjysname {
    width: 350px;    
}
.cmjyname{
    width: 450px;    
}
.cmjyemail {
    width: 200px;    
}
.cmjytitle1 {    
    height: 40px;    
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-top: 1px solid;    
}



/**/
/*í•˜ë‹¨ë²„íŠ¼ í‹€ (ë²„íŠ¼ë¼ì¸)*/
#cmjybtntle {    
    width: 1603px;
    height: 47px;
    float: left;    
    line-height: 50px; 
    margin-left: 150px;
    border-top: 1px solid;
}

/*íŽ˜ì´ì§€ì´ë™ë²„íŠ¼ í‹€*/
.cmjypagebtns {    
    height: 48px; 
    float: left;
    margin-left: 600px;
}

/* í•˜ë‹¨ íŽ˜ì´ì§€ì´ë™ */
.cmjypagebtns a {	
	text-align: center;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
}
.cmjypagebtns a.jychk {
	 color: #ece4d7;
    background-color: #262522;
}
.cmjypagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
.cmjystockupdatebtn {
	margin-left: 900px;
	height: 45px;
	text-align:center;
	width: 85px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 18px;
	border-radius : 4px;
}