body{ 
    width:1903px;
    max-width:1903px;
    min-width: 300px;
    margin : 0px;
    position: relative;
}

header{
    width: 100%;
    height: 98px;    
    background-color: black;
}
tbody {
            text-align: center;
            font-size: 20px;
        }

.put{
    background-color: black;
    float : right;
    margin : 5px 2% 0px 0;
}
.put2{
    background-color: black;
    float : right;
    margin : 5px 2% 0px 0;
    width: 5%;
}
.box50 {
    width:calc(100% - 50%);
    height: 70%;
    float:left;
    margin : 0px 0px 0px 25%;
    padding-top : 25px;
    display:inline-block;
    
    
}

.box50 img{
    float:left;
    margin-right : 5%;
}


.box50 a {
    text-decoration: none;
    float:left;
    margin : 25px 15px;
    color :white;
    
}

.in_box30{
    width: 25%;
    float:left;
    margin-right : 5%;
}
.in_box30 img{
    width :100%;
    margin-right:10%;
}
.in_box70{
    width: 100%;
}

footer {
    width : 1903px;
    height: 720px;
    background-color : black;
}
.ft_box{
    width: 100%;
    height: 677px;  
    background-color : rgb(20,20,20);
    color : rgb(170,170,156);
}

.ft_box_in{
    width: 50%;
    height: 627px;
    margin : 0% 25%;
    padding : 25px 0px;
    background-color : rgb(20,20,20);
}


.ft_box1{
    width: 100%;
    height: 43px;
    background-color : black;
}


.ft_box1_in{
    width:50%;
    height: 50%;
    margin : 0% 25%;
    color:white;
    transform: translateY(calc(50% + 5.5px));
    text-align: center;
    font-size: 11px;
}

.ft_box_in a{
            color : rgb(170,170,156);
    font-size: 11px;
}




section{
    width: 1903px;
    height: calc(100% - 818px);
    background-color :azure;
}


a {
    text-decoration: none;
}
.white { 
color:white;
}

.cent{
    width: 50%;
    padding : 30px 0px;
    margin : 0% 25%;

}

.col {
    width : 159px;
    height: 370px;
    float:left;
    margin-left: 20px;
    margin-top : 20px;
}


.m_head{
    margin: 10px 0%;
    width: 100%;
    
}


.news {
    width: 173px;
    height: 218px;
    float:left;
    margin-left: 20px;
    margin-top : 20px;
}













/*섹션부분*/
.cmjymain2 {
    width: 100%;
    height: 800px;
    background-color: white;
}
/*제목*/
.cmjypage2 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;   
}
p {
    margin: 0;
}
.cmjytable_name2 {
    font-size: 50px;
    font-weight: bold;
}
/*판매처검색*/
.cmjyselect {
    margin-left: 150px;
}

.cmjyselect select {
    width: 200px;
    height: 30px;
    font-size: 15px;    
}
.cmjyselect .cmjyselectbtn {
    width: 90px;
    height: 30px;  
    font-size: 15px;
}

.cmjysub_news {
    margin-top: 10px;
    margin-left: 150px;
    width: 1603px;
    color: #666;
    font-size: 12px;    
}

.cmjysub_news,
.cmjysub_news th,
.cmjysum_news td,
.cmjysum_news tr {
    border: 0;
}

.cmjysub_news a {
    color: #383838;
    text-decoration: none;
}

.cmjysub_news caption {
    display: none;
}

.cmjysub_news th {
    padding: 5px 0 6px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #b2b2b2;
    background-color: #c3c4c4;
    color: #333;
    font-size: 20px;
    font-weight: bold;    
    vertical-align: top;
}

.cmjysub_news td {
    padding: 8px 0 9px;
    border-bottom: solid 1px #d2d2d2;
    text-align: center;
    line-height: 18px;
    font-size: 20px;
}

.cmjysub_news .date,
.cmjysub_news .hit {
    padding: 0;
    font-size: 12px;
    line-height: normal;
}

.cmjysub_news .cmtitle {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

.cmjysub_news .title .pic,
.cmjysub_news .title .new {
    margin: 0 0 2px;
    vertical-align: middle;
}
.cmjyupdatebtn {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.cmjypaging {
    margin-top: 10px;
    margin-left: 600px;    
}

.cmjypaging a {
/*
display: inline-block 인라인 요소의 특징과 블록 요소의 특징을 모두 갖는다
크기를 가질 수 있으며 텍스트 정렬도 적용받는다
*/
    display: inline-block;    
    text-decoration: none;
    padding: 5px 8px;    
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;    
}

/* 현재 페이징에 select 클래스를 적용한다*/

.cmjypaging a.cmjychk {	
    color: #ece4d7;
    background-color: #262522;
    font-size: 12px;
    font-weight: bold;
}
.cmjypaging a:hover {
    background-color: #656565;
    color: #f8edde;
}






/**/
/*하단버튼 틀 (버튼라인)*/
#cmjybtntle {    
    width: 1603px;
    height: 47px;
    float: left;    
    line-height: 50px; 
    margin-left: 150px;
}

/*페이지이동버튼 틀*/
.cmjypagebtns {    
    height: 48px; 
    float: left;
    margin-left: 600px;
}

/* 하단 페이지이동 */
.cmjypagebtns a {
	width: 20px;
	text-align: center;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
}
.cmjypagebtns a.jychk {
	 color: #ece4d7;
    background-color: #262522;
}
.cmjypagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}