
/* 틀 나누기   */
.back {      
    width: 1000px;
    height: 800px;
    text-align: center;
}


.back1 {
    width: 1000px;
    height: 80px;
    float: left;
    text-align: center;
    font-size: 40px;
}/* 회원가입 글씨  */


/*배경+마진*/
.bigtle{
    width: 750px;
    height: 600px;
    float: left;
    margin-left: 100px;
 
}
.midtle{
    margin-top: 45px;
    margin-left: 30px;
    height: 550px;
    width: 710px;    
}

.back2 {
    width: 1000px;
    height: 25px;
    float: left;
}/* 하단 여백 */


/* 성별선택 */
.gnd {
    width: 0px;
    height: 40px;
    float: left;   
}
.gndr {
    padding: 8px;
    margin-left: 25px;
    border-radius: 5px;
}

.btn2 {
    width: 1000px;
    float: left;
    margin-left: 30px;    
} /* 가입하기 취소 큰 틀 */
/*  꾸미기 및 위치이동  */

.btnP {
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #464646;
    float: left;
    color: white;
    font-weight: bold;
    margin-left: 25px;
} /* 버튼 속성 꾸미기 -> 중복확인  */

/*앞에 설명*/
.forwardtle {    
    width: 160px;
    height: 500px;
    float: left;
}
/*뒤에 입력*/
.backtle {
    width: 550px;
    height: 500px;
    float: left;    
}
/*설명텍스트 스타일조정*/
.signtext {
    width: 160px;
    height: 49px; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}
/* 입력 창 꾸미기 */
.inputbox {
    border-radius: 5px;
    float: left;
    width: 350px;
    height: 25px;
    padding: 5px;  
    margin-left: 20px;
    margin-bottom: 30px;
} 
.address {
    border-radius: 5px;
    float: left;
    width: 350px;
    height: 80px;
    padding: 5px;  
    margin-left: 20px;
    margin-bottom: 30px;
}

.btnP1 {
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 7px 68px;
    background-color: #464646;
    color: white;
    font-weight: bold;
} /* 버튼 속성 꾸미기 -> 가입하기  */

