.mmjymastemover {    
    width: 1303px;
    margin-left: 450px;
    margin-top: 20px;
}

.mmjyummove {
    width: 1000px;
    height: 280px;
    margin-bottom: 30px;    
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 400px;
    
}
.mmjyummove h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 550px;
    padding-top: 100px;
    padding-bottom: 0;
    color:rgba(229, 164, 59, 0.95);
    
}
.mmjycmmove {
    width: 1000px;
    height: 280px;
    margin-bottom: 30px; 
    background-image: url("/phoenix/resources/img/main/mpm2.jpeg");   
    background-repeat: no-repeat;
    background-size: 1000px 320px; 
}
.mmjycmmove h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 0;
    color:#f4ff75;
    
}

.mmjycdmove {
    width: 1000px;
    height: 290px;
    margin-bottom: 0px; 
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");         
    background-repeat: no-repeat;
    background-size: 1000px 290px; 
}
.mmjycdmove h1 {
    font-size: 50px;
    margin: 0;
    padding-left: 550px;
    padding-top: 100px;
    padding-bottom: 0;
    color: #bababa;
}
a {
    text-decoration: none;
}