.mmjymastemover {    
    width: 1303px;
    margin-left: 450px;
    margin-top: 20px;
}

.mmjyummove {
    width: 1000px;
    height: 280px;
    margin-bottom: 30px;    
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 1000px 400px;
}

h1{
	border: solid black 1px;
}
.mmjyummove h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#004eff;
    
}
.mmjycmmove {

    width: 1000px;
    height: 280px;
    margin-bottom: 30px; 
    background-image: url("");   
    background-repeat: no-repeat;
    background-size: 1000px 320px; 
}
.mmjycmmove h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#f4ff75;
    
}

.mmjycdmove {
    width: 1000px;
    height: 290px;
    margin-bottom: 0px; 
    background-image: url("");         
    background-repeat: no-repeat;
    background-size: 1000px 290px; 
}
.mmjycdmove h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color: #ff8686;
}
a {
    text-decoration: none;
}