/**** 많이 사용하는 것들 ****/
.disnone {
    display: none;
}
.disblock {
    display: block;
}

/******************* Question *******************/
.main2 {
    width: 100%;
    height: 800px;
}
.table_name {
    font-size: 30px;
    margin-left: 250px;
    font-weight: bold;
}
.select {
    margin-left: 250px;
}
.select select {
    width: 100px;
    height: 23px;
}
.sub_news {
    margin: 10px 250px;
    width: 1400px;
    border-bottom: 1px solid #999;
    color: #666;
    font-size: 12px;
    table-layout: fixed;
}
.sub_news,
.sub_news th,
.sum_news td,
.sum_news tr {
    border: 0;
}

.sub_news a {
    color: #383838;
    text-decoration: none;
}

.sub_news img {
    padding: 1px 2px;
}

.sub_news caption {
    display: none;
}

.sub_news th {
    padding: 5px 0 6px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #b2b2b2;
    background-color: #f1f1f4;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    vertical-align :top;
}

.sub_news td {
    padding: 8px 0 9px;
    border-bottom: solid 1px #d2d2d2;
    text-align: center;
    line-height: 18px;
}

.sub_news .date,
.sub_news .hit {
    padding: 0;
    font-size: 12px;
    line-height: normal;
}

.sub_news .title {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

.sub_news .title .pic,
.sub_news .title .new {
    margin: 0 0 2px;
    vertical-align: middle;
}

.paging {
    margin-left: 450px;
    margin-bottom: 20px;
}

/*
display: inline-block 인라인 요소의 특징과 블록 요소의 특징을 모두 갖는다
크기를 가질 수 있으며 텍스트 정렬도 적용받는다
*/
.paging a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 12px;
}

/* 현재 페이징에 select 클래스를 적용한다*/

.paging a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.paging a:hover {
    background-color: #656565;
    color: #f8edde;
}


.writebtn { 
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 12px;
    margin-left: 30px; 
    cursor: pointer;
} 

.writebtn :hover { /* 호버이벤트 삽입*/
    background-color: #656565;
    color: #f8edde;
}




/********************* Detail **************************/
.detailBox {
    margin: 10px 500px 5px 500px;
    border: 1px solid;
    width:900px;
    height: 840px;

    padding: 0 20px 0 20px;
}
/* 상단 title */
.datailTop {
    width: 100%;
    height: 55px;
    border-bottom: 1px;
    border-bottom-style:dotted;
}
.datailTop span {
    margin-left: 30px;
    font-size: 27px;
    letter-spacing: 2px;
    line-height: 2.5;
}
.datailMiddel p{
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 1px;  
    
}
.detailMiddel2 {
    width: 100%;
    height: 300px;
    border: 1px solid;
}
.datailbotton {
    width: 100%;
    height: 55px;
    height: 55px;
    border-bottom: 1px;
    border-bottom-style:dotted;
}
.Qbtn {
    position:relative;
        bottom:-320px;
        right: -42vw;
    width: 95px;
    height: 30px;
}
.Qtext {
    width: 895px;
    height: 275px;
}
