/**** Ã«Â§Å½Ã¬ÂÂ´ Ã¬â€šÂ¬Ã¬Å¡Â©Ã­â€¢ËœÃ«Å â€ ÃªÂ²Æ’Ã«â€œÂ¤ ****/
.disnone {
    display: none;
}
.disblock {
    display: block;
}

/******************* Question *******************/
.qpsymain2 {
    width: 100%;
    height: 800px;
}
.qpsytable_name {
    font-size: 55px;
    margin-left: 750px;
    font-weight: bold;
    line-height: 150px;
    
}
.qpsyselect {
    margin-left: 350px;
}
.qpsyselect select {
    width: 100px;
    height: 23px;
}
.qpsysub_news {
    margin: 25px 350px;
    width: 1400px;
    border-bottom: 1px solid #999;
    color: #666;
    font-size: 17px;
    table-layout: fixed;
}
.qpsysub_news,
.qpsysub_news th,
.qpsysum_news td,
.qpsysum_news tr {
    border: 0;
}

.qpsysub_news a {
    color: #383838;
    text-decoration: none;
}

.qpsysub_news img {
    padding: 1px 2px;
}

.qpsysub_news caption {
    display: none;
}

.qpsysub_news th {
	text-align: center;
    padding: 5px 0 6px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #b2b2b2;
    background-color: #f1f1f4;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    vertical-align :top;
}

.qpsysub_news td {
    padding: 8px 0 9px;
    border-bottom: solid 1px #d2d2d2;
    text-align: center;
    line-height: 18px;
}

.qpsysub_news .date,
.qpsysub_news .hit {
    padding: 0;
    font-size: 12px;
    line-height: normal;
}

.qpsysub_news .title {
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

.qpsysub_news .title .pic,
.qpsysub_news .title .new {
    margin: 0 0 2px;
    vertical-align: middle;
}

.qpsypaging {
    margin-left: 750px;
    margin-bottom: 20px;
}


.qpsypaging a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 12px;
}


.qpsypaging a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.qpsypaging a:hover {
    background-color: #656565;
    color: #f8edde;
}


.writebtn { 
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 12px;
    margin-left: 30px; 
    cursor: pointer;
} 





/********************* Detail **************************/
.qpsydetailBox {
    margin: 10px 500px 5px 500px;
    border: 1px solid;
    width:900px;
    height: 820px;
    padding: 0 20px 0 20px;
}

.qpsyanswer{
	margin-top :0px;
}


.boxheight{
	width:800px;
	height: 50px;
	float: right;
	margin-top: 15px;
	
	
}

.qpsydatailTop1 {
    width: 100%;
    height: 55px;
    border-bottom: 1px;
    border-bottom-style:dotted;
}
.qpsydatailTop1 span {
    margin-left: 30px;
    font-size: 27px;
    letter-spacing: 2px;
    line-height: 2.5;
}


.qpsydatailTop2 {
    width: 830px;
    height: 55px;
    margin-left: 30px;
}
.qpsydatailTop2 span {
 	text-align:left;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2.5; 
    	
	margin :5px 0px;
	float:left;
	margin-right:15px;
}
.qp_textbox{
	width:855px;
	height:300px;
	
}
.ansbtn{
	margin:15px 5px 12px 5px; 
}

#syinputbox{
	margin : 0 50px;
}
.qpsydatailMiddel p{
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 1px;  
    
}


.qpsydetailMiddel1 {
    width: 100%;
    height: 300px;
    border: 1px solid;
    padding: 6px 12px;
}

.qpsydetailMiddel2 {
    width: 100%;
    height: 300px;
    border: 1px solid;
    float: left;
    padding: 6px 12px;
    
}
.qpsydatailbotton {
    width: 100%;
    height: 55px;
    height: 55px;
    border-bottom: 1px;
    border-bottom-style:dotted;
}
.qpsyQbtn1 {
    margin-right: 20px;
    float: right;
    width: 95px;
    height: 30px;
}
.qpsyQbtn2 {
    float: right;
    width: 95px;
    height: 30px;
}
.qpsyQtext {
    margin: 0;
    width: 896px;
    min-height: 200px;
    max-height: auto;
     word-break: break-all;
}
