body{ 
    width:1903px;
    max-width:1903px;
    min-width: 300px;
    margin : 0px;
    position: relative;
}
/****************** SellList *********************/
#Sellmymain {
    width: 1903px;
    height: 1450px;
    background-color: white;
}

/*아이콘 + 장바구니*/
#Sellmymain .Selltitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;
}

/*구매목록 제목*/
.Selltitle {    
    font-size: 50px;
    font-weight: bold;
    margin-left: 150px;
}
/*사용자페이지 + 장바구니페이지*/
#Sellshoppingbagpage {
    margin: 0 300px 0 300px;
    width: 1300px;
    height: 1450px; 
}

#Sellshoppingbaglist {
   margin: 10px 0px;
    width: 1300px;
    color: #666;
    font-size: 12px;
    table-layout: fixed;
}
/* 장바구니 큰공간*/
#Sellshoppingbag {
    width: 1300px;    
}
/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Sellshoppingbag .Selllisttop-text {
    height: 35px;
    width:  1300px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    float: left;
    background-color: #c3c4c4;
    margin: 0;
}


/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Sellshoppingbag .Selllist-text {    
    width:  1300px;       
    font-size: 20px;
    height: 110px;    
    text-align: center;
    float: left;
    border-bottom: 1px solid;  
    line-height: 35px;
    margin: 0;
}

#Sellshoppingbaglist tbody tr td .img{
   width: 85px;
    height: 100px;  
   }
#Sellshoppingbaglist tbody tr td  {
   text-align: center;
   font-size: 25px;
   padding-top: 5px;
}
   /*페이지이동버튼 틀*/
.Sellpagebtns {    
    height: 20px; 
    float: left;
    margin-left: 720px;
     line-height: 1px;
     margin-top: 10px;
}
.Sellpagebtns a {
   display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
    height: 20px;
    line-height: 12px;
    
}
.Sellpagebtns a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.Sellpagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
/************* Cart ******************/
#Cartmymain {
    width: 1550px;
    height: 1400px;
    background-color: white;
}

/*장바구니*/
#Cartmymain .Carttitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;
}

/*구매목록 제목*/
.Carttitle {    
    font-size: 50px;
    font-weight: bold;
}

/*사용자페이지 + 장바구니페이지*/
#Cartshoppingbagpage {
    margin-left: 150px;
    width: 1550px;
    height: 1400px; 
}
#Cartshoppingbagpage p {
   margin-top: 0px; 
   padding-top: 20px;
   font-size: 50px;
    font-weight: bold;
}


/* 장바구니 큰공간*/
#Cartshoppingbag {
    width: 1550px;    
    float: left;    
}

/*사진 클릭*/
#Cartshoppingbag .img {
    width: 85px;
    height: 100px;    
}


/*체크박스크기+위치*/
.Cartcheckbox {
    width: 61px;
    height: 18px;
}
/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Cartshoppingbag .Cartlisttop-text {
    height: 35px;
    width:  1550px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    float: left;
    background-color: #c3c4c4;
    margin: 0;
}

/*장바구니 리스트글자 조정(크기+굵기+위치)*/
.Cartlist-text {    
    width:  1550px;       
    font-size: 20px;
    height: 110px;    
    text-align: center;
    float: left;
    border-bottom: 1px solid;  
    margin: 0;
}
#Cartcheckall {  
   width: 20px;
   height: 20px;
}

#Cartshoppingbag .Cartlist-text2 {    
    width:  1603px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    float: left;
    border-top: 1px solid;
}

#Cartshoppingbag .Cartlist-text2 td {    
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 8px;
}
#Cartlist-text tbody tr {
   text-align: center;
   font-size: 25px;
   padding-top: 5px;
}

/*페이지이동버튼 틀*/
.Cartpagebtns {    
    height: 20px; 
    float: left;
    margin-left: 720px;
     line-height: 1px;
     margin-top: 10px;
}
.Cartpagebtns a {
   display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
    height: 20px;
    line-height: 12px;
    
}
.Cartpagebtns a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.Cartpagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
/*페이지이동버튼 크기+글자크기*/
.Cartbtn {
    height: 30px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white; 
    border-radius: 10%;
    color: dimgrey;
    border: 1px solid;
}
.Cartbtn:hover { 
    color: black;
}
/*구매, 삭제버튼 틀*/
.Cartbuydelbtns {
    height: 46px;
    width: 300px;
    float: left;
    padding-left: 1300px;
    text-align: center;
}
/*구매, 삭제버튼 크기+글자*/
.Cartbtn1 {    
    width: 85px;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #f6fafc;   
    line-height: 30px;
    border: px solid;
}
.Cartbtn1:hover {
    background-color: #716c6c;
}
/****************** PwSelect ********************/
#PWmymain {
    width: 1903px;
    height: 503px;
    padding-top: 100px;
}

.PWtitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 600px 0 600px;
    background-color:white;
    height: 170px;
}

.PWtitle {    
    font-size: 35px; 
    letter-spacing: 2px;
    text-indent: 50px;
    margin-top: 0;
}
.PWex {
     text-indent: 50px;
}
.PWex span {
    color: blue;
}
.PWinput {
    padding-top: 10px;
    text-indent: 50px;
    float: left;
}
/*************** UserUpdate *****************/
#UUmymain {
    width: 1903px;
    height: 873px;
    background-color: #e6e6e6;
    padding-top: 100px;
}
.UUtitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 600px 0 600px;
    background-color:white;
    height: 420px;
}
.UUtitle {    
    font-size: 35px; 
    letter-spacing: 2px;
    text-indent: 50px;
    margin-top: 0;
}
.UUInput1 {
    padding-top: 10px;
    text-indent: 50px;
    float: left;
    font-size: 17px;
}
.UUInput2 {
     text-indent: 50px;
     padding-top: 10px;
     font-size: 17px;
     float: left;
}
.UUInput2 p {
	height: 23px;
	margin: 17px 0 17px 0;
}
.UUInput3 {
	padding-top: 13px;
	text-indent: 50px;
}
.UUInput3 input {
    width: 350px;
    margin: 8px 0 8px 50px;
    font-size: 16px;
}
.UUbtn {
	margin-top: 10px;
    margin-left: 585px;
}
.UUbtn button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: #c3a07d;
    border: 2px solid #c3a07d;
    line-height: 1;
}

/********* MyPageMaster ************/
.MyPageMaster {    
    width: 1303px;
    margin-left: 450px;
    padding-top: 20px;
}

.MpmPwSelect {
    width: 1000px;
    height: 280px;
    margin-bottom: 30px;
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 400px;
    
}
.MpmPwSelect h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#004eff;
    
}
.MpmCart {

    width: 1000px;
    height: 280px;
    margin-bottom: 30px;
    background-image: url("/phoenix/resources/img/main/mpm2.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 320px; 
}
.MpmCart h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#f4ff75;
    
}

.MpmSellList {

    width: 1000px;
    height: 290px;
    margin-bottom: 0px;
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 290px; 
}
.MpmSellList h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color: #ff8686;
}
/************ 팝업창 ************/
/* 메시지와 버튼 div 구역*/
.msg {
    background-color: #dee1e2;
    width:570px;
    text-align: center;
    height: 300px;
    padding-left: 0px;
    margin-left: 680px;
    margin-right: 680px;
    margin-top: 300px;
    margin-bottom: 300px;
     
}
.msg h2 {
    letter-spacing: 1px;
    line-height: 4;
    margin:0;
}
/* 버튼css 및 이벤트 */
.popbtn1, .popbtn2, .popbtn3 {
    background-color: #28adf4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0px 170px 10px 170px;
    cursor: pointer;
    width: 240px;
    border-radius: 5px;
    font-weight: bold;

  
}
.popspan {
    font-size: 15px;
}
.popbtn {
	padding: 0 40px;
}
a {
    text-decoration: none;
}