
body{ 
    width:1903px;
    max-width:1903px;
    min-width: 300px;
    margin : 0px;
    position: relative;
}

a {
    text-decoration: none;
}

/****************** SellList *********************/
#Sellmymain {
    width: 1903px;
    height: 1450px;
    background-color: white;
}

/*아이콘 + 장바구니*/
#Sellmymain .Selltitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;
}

/*구매목록 제목*/
.Selltitle {    
    font-size: 50px;
    font-weight: bold;
}
/*사용자페이지 + 장바구니페이지*/
#Sellshoppingbagpage {
    margin-left: 150px;
    width: 1550px;
    height: 1450px; 
}

#Sellshoppingbaglist {
	margin: 10px 0px;
    width: 1550px;
    color: #666;
    font-size: 12px;
    table-layout: fixed;
}
/* 장바구니 큰공간*/
#Sellshoppingbag {
    width: 1550px;    
}
/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Sellshoppingbag .Selllisttop-text {
    height: 35px;
    width:  1550px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    float: left;
    background-color: #c3c4c4;
    margin: 0;
}


/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Sellshoppingbag .Selllist-text {    
    width:  1550px;       
    font-size: 20px;
    height: 110px;    
    text-align: center;
    float: left;
    border-bottom: 1px solid;  
    line-height: 35px;
    margin: 0;
}

#Sellshoppingbaglist tbody tr td .img{
	width: 85px;
    height: 100px;  
	}
#Sellshoppingbaglist tbody tr td  {
	text-align: center;
	font-size: 25px;
	padding-top: 5px;
}
	/*페이지이동버튼 틀*/
.Sellpagebtns {    
    height: 20px; 
    float: left;
    margin-left: 720px;
     line-height: 1px;
     margin-top: 10px;
}
.Sellpagebtns a {
	display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
    height: 20px;
    line-height: 12px;
    
}
.Sellpagebtns a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.Sellpagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
/************* Cart ******************/
#Cartmymain {
    width: 1550px;
    height: 1400px;
    background-color: white;
}

/*장바구니*/
#Cartmymain .Carttitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;
}

/*구매목록 제목*/
.Carttitle {    
    font-size: 50px;
    font-weight: bold;
}

/*사용자페이지 + 장바구니페이지*/
#Cartshoppingbagpage {
    margin-left: 150px;
    width: 1550px;
    height: 1400px; 
}
#Cartshoppingbagpage h1 {
	margin-top: 0px; 
}


/* 장바구니 큰공간*/
#Cartshoppingbag {
    width: 1550px;    
    float: left;    
}

/*사진 클릭*/
#Cartshoppingbag .img {
    width: 85px;
    height: 100px;    
}


/*체크박스크기+위치*/
.Cartcheckbox {
    width: 61px;
    height: 18px;
}
/*장바구니 리스트글자 조정(크기+굵기+위치)*/
#Cartshoppingbag .Cartlisttop-text {
    height: 35px;
    width:  1550px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    float: left;
    background-color: #c3c4c4;
    margin: 0;
}

/*장바구니 리스트글자 조정(크기+굵기+위치)*/
.Cartlist-text {    
    width:  1550px;       
    font-size: 20px;
    height: 110px;    
    text-align: center;
    float: left;
    border-bottom: 1px solid;  
    margin: 0;
}
#Cartcheckall {  
	width: 20px;
	height: 20px;
}

#Cartshoppingbag .Cartlist-text2 {    
    width:  1603px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    float: left;
    border-top: 1px solid;
}

#Cartshoppingbag .Cartlist-text2 td {    
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 8px;
}
#Cartlist-text tbody tr {
	text-align: center;
	font-size: 25px;
	padding-top: 5px;
}

/*페이지이동버튼 틀*/
.Cartpagebtns {    
    height: 20px; 
    float: left;
    margin-left: 720px;
     line-height: 1px;
     margin-top: 10px;
}
.Cartpagebtns a {
	display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: #000000;
    background-color: #b2b2b2;
    font-size: 20px;
    height: 20px;
    line-height: 12px;
    
}
.Cartpagebtns a.chk {
    color: #ece4d7;
    background-color: #262522;
}
.Cartpagebtns a:hover {
    background-color: #656565;
    color: #f8edde;
}
/*페이지이동버튼 크기+글자크기*/
.Cartbtn {
    height: 30px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white; 
    border-radius: 10%;
    color: dimgrey;
    border: 1px solid;
}
.Cartbtn:hover { 
    color: black;
}
/*구매, 삭제버튼 틀*/
.Cartbuydelbtns {
    height: 46px;
    width: 300px;
    float: left;
    padding-left: 1300px;
    text-align: center;
}
/*구매, 삭제버튼 크기+글자*/
.Cartbtn1 {    
    width: 85px;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #f6fafc;   
    line-height: 30px;
    border: px solid;
}
.Cartbtn1:hover {
    background-color: #716c6c;
}
/****************** PwSelect ********************/
#mymain {
    width: 1903px;
    height: 1000px;
    background-color: white;
}


#pwmymain .PStitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 400px;
}

.PStitle {    
    font-size: 50px; 
}

/*큰틀*/
#PSbigtle {
    margin-left: 150px;
    width: 1603px;
    height: 800px;
}

/*수정칸*/
#PSmidtle {
    width: 1603px;
    height: 300px; 
    padding-top: 80px;
}

.PSsujungtext {
    float: left;
    width: 150px;
    text-align: left;
    margin-top: 20px;
    margin-left: 450px;
    font-size: 30px;
    font-weight: 600;
    float: left;
    line-height: 100px;
}

.PSsujunginput {
    margin-top: 55px;
    width: 450px;
    height: 664px;    
    float: left;
    line-height: 100px;    
}

.PSinputtle {
    float: left;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

/*버튼위치*/
.PSbutton {
    margin-top: 55px;
    float: left;
    width: 248px;
    height: 664px;    
}
.PWnext {
	width: 90px;
    height: 35px;
    font-size: 18px;
    float: inherit;
}
/*************** UserUpdate *****************/
#UUmymain {
    width: 1903px;
    height: 1000px;
    background-color: white;
}


#UUmymain .UUtitlebox {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 150px;
}
/*구매목록 제목*/
.UUtitle {    
    font-size: 50px; 
}

/*큰틀*/
#UUbigtle {
    margin-left: 150px;
    width: 1603px;
    height: 800px;
}

/*수정칸*/
#UUmidtle {
    width: 1603px;
    height: 720px; 
    padding-top: 80px;
    float: left;
    background-color: gainsboro;
}

/*회원정보수정 왼쪽글자*/
.UUsujungtext {
    float: left;
    width: 250px;
    text-align: left;
    margin-top: 20px;
    margin-left: 450px;
    font-size: 30px;
    font-weight: 600;
    float: left;
    line-height: 100px;
}

/*수정입력창 전체틀 크기, 위치*/
.UUsujunginput {
    margin-top: 55px;
    width: 450px;
    height: 664px;    
    float: left;
    line-height: 100px;    
}

/*수정입력창 위치, 크기 조정*/
.UUinputtle {
    float: left;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

/*버튼위치*/
.UUbutton {
    margin-top: 55px;
    float: left;
    width: 248px;
    height: 664px;    
}
.UUOverlapID {
    width: 90px;
    height: 35px;
    font-size: 18px;
    float: inherit;
}
.UUModified {
    margin-top: 560px;
    width: 90px;
    height: 35px;
    font-size: 18px;    
}
/********* MyPageMaster ************/
.MyPageMaster {    
    width: 1303px;
    margin-left: 450px;
    margin-top: 20px;
}

.MpmPwSelect {
    width: 1000px;
    height: 280px;
    margin-bottom: 30px;
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 400px;
    
}
.MpmPwSelect h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#004eff;
    
}
.MpmCart {

    width: 1000px;
    height: 280px;
    margin-bottom: 30px;
    background-image: url("/phoenix/resources/img/main/mpm2.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 320px; 
}
.MpmCart h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color:#f4ff75;
    
}

.MpmSellList {

    width: 1000px;
    height: 290px;
    margin-bottom: 0px;
    background-image: url("/phoenix/resources/img/main/mpm1.jpeg");
    background-repeat: no-repeat;
    background-size: 1000px 290px; 
}
.MpmSellList h1 {
    font-size: 50px;
    margin: 0;
    padding: 180px;
    padding-bottom: 0;
    color: #ff8686;
}
a {
    text-decoration: none;
}








