
    

    <div class ="sec" id = "main">
           <div class = "bg"></div>
            <div class = "bg2 disnone"></div>
        </div>
    <div class = "sec_in2">
            <div class ="sec_in2_box">
            <div class ="sec_in2_box_in"><a href = "#" ><p>OVERSEAS</p></a></div></div>
            <div class ="sec_in2_box">
            <div class ="sec_in2_box_in2"><a href = "#" ><p>셀레스티얼 메카닉스</p></a></div>
            </div>
            </div>
    <div class ="m_sec">
        <div class = "m_sec_in">
        <div class ="m_sec_in_hd"><p>바쉐론 콘스탄틴 컬렉션</p></div>
        <div class ="m_sec_in_box">
            <div class ="m_sec_in_box150"><a href="#">바쉐론 콘스탄틴 컬렉션<br> 자세히 보기<br><br>
               <div class ="m_sec_in_btbox">자세히 보기</div>
                </a></div></div>
        <div class ="m_sec_in_box2"><div class ="m_sec_in_box150"><a href="#">가장 가까운<br> 바쉐론 콘스탄틴<br> 부티크 찾기<br>
               <div class ="m_sec_in_btbox">검색</div>
                </a></div></div>
        
        
        </div></div>
    <div class ="m_sec2">
        <div class = "m_sec2_in_hd"><hr>
            바쉐론 콘스탄틴 뉴스<hr></div>
        <div class ="m_sec2_in_box">
            <div class ="m_sec2_in_box2"><a href="#">
            <div class ="m_sec2_box_in" id ="m_sec2_bg1"></div>
                <div class ="m_sec2_box2">
                <div class ="m_sec2_box_in2">OVERSEAS- 바쉐론 콘스탄<br>틴이 간직한 여행의 정신을 <br>보여주는 시계</div>
                    <div class ="m_sec2_box_in3"><hr>1755년 제네바에 설립된 바쉐론<br>콘스탄틴은 메종의 공동 설립자<br>인프랑소와 콘스탄틴(Francois</div>
                <div class ="m_sec2_box_bt">뉴스읽기</div>
                </div></a>
        </div>
            <div class ="m_sec2_in_box2"><a href="#">
            <div class ="m_sec2_box_in" id ="m_sec2_bg2"></div>
                <div class ="m_sec2_box2">
                <div class ="m_sec2_box_in2">OVERSEAS - 교체가능한 브<br>레이슬릿/스트랩 및 버클</div>
                <div class ="m_sec2_box_in3"><hr>새로운 Overseas 컬렉션은 2016<br>년을 맞이해, 전 세계 어느 자리<br>에서나 어울리는 우아한 스포츠</div>
                <div class ="m_sec2_box_bt">뉴스읽기</div>
                </div></a>
        </div>
            <div class ="m_sec2_in_box2"><a href="#">
            <div class ="m_sec2_box_in" id ="m_sec2_bg3"></div>
                <div class ="m_sec2_box2">
                <div class ="m_sec2_box_in2">$1.2M RAISED AT <br> NATIONAL GALLERY<br>SINGAPORE...</div>
                    <div class ="m_sec2_box_in3"><hr>As the presenting sponsor of the <br>national Gellery Singapore<br>inauqural fundraisinq Gale 2016</div>
                <div class ="m_sec2_box_bt">뉴스읽기</div>
                </div></a>
        </div>
            <div class ="m_sec2_in_box2"><a href="#">
            <div class ="m_sec2_box_in" id ="m_sec2_bg4"></div>
                <div class ="m_sec2_box2">
                <div class ="m_sec2_box_in2">뉴욕과 도쿄에서 개최된<br>OVERSEAS 컬렉션 전 세계<br>출시 기념행사</div>
                    <div class ="m_sec2_box_in3"><hr>바쉐론 콘스탄틴은 메종의 고객<br>들과 VIP, 유럽과 미국, 아시아태<br>평양, 일본의 해외 및 현지 언론</div>
                <div class ="m_sec2_box_bt">뉴스읽기</div>
                
                </div></a>
        </div>
        </div>
        </div>
